<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Cadastro de alunos</title>
</head>
<body>
	<h1>Cadastro de Alunos</h1>
	
	<form action="/EnviaForm" method="post">
		<label for="Nome">Nome: </label>
		<input type="text" name="Nome" id="Nome"><br>
		<label for="Email">Email: </label>
		<input type="Email" name="Email" id="Email"> <br>
		<label for="Curso">Curso: </label>
		<select name="Curso">
			<option value="Análise e desenvolvimento de sistemas">Tecnologo Análise e desenvolvimento de sistemas</option>
			<option value="Informática para internet">Tecnico Informática para internet</option>
			<option value="Qualidade">Tecnico em Qualidade</option>
		</select>
		
		<button type="Submit">Enviar</button>
	</form>
</body>
</html>