<!DOCTYPE html>
<html lang="pt-br" xmlns:th="www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Listagem de alunos</title>
</head>
<body>
	<h1>Alunos</h1>
	<a href="/CadastroAluno">Novo</a>
	
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Email</th>
				<th>Curso</th>
				<th>Opção</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="List : ${ListaAluno}">
				<td th:text="${List.Nome}"></td>
				<td th:text="${List.Email}"></td>
				<td th:text="${List.Curso}"></td>
				<td><a th:href="|/CadastroAluno?id=${List.id}|">Editar</a> || 
					<a th:href="|/excluirAluno?id=${List.id}|">Excluir</a>
				</td>
			</tr>	
		</tbody>	
	</table>
</body>
</html>